## Problem Statement

1. EMPID: Employee ID
2. satisfaction_level: Level of Satisfaction between 0 and 1 - Float
3. last_evaluation: Last evaluation score - Float
4. number_project: Number of projects completed while at work - Integer
5. average_monthly_hours: Average monthly hours spent at the workplace - Integer
6. time_spend_company: Number of years spent in the company - Integer
7. work_accident: Whether the employee has had a workplace accident before - Binary [0,1]
8. promotion_last_5years: Has the employee been promoted in the last Five years - Binary [0,1]
9. Salary: Relative level of salary - [low, medium, high]
10. Left (Target): Did the employee leave the company or not?

In [1]:
from apps.core.config import Config
import pandas as pd

In [3]:
config = Config()
        
data_path = config.training_data_path
file_name = "hr_employee_churn_data.csv"
hr_data = pd.read_csv(f"{data_path}/{file_name}")

In [4]:
hr_data.head()

,empid,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,left
0,1,0.38,0.53,2,157,3,0,0,low,1
1,2,0.80,0.86,5,262,6,0,0,medium,1
2,3,0.11,0.88,7,272,4,0,0,medium,1
3,4,0.72,0.87,5,223,5,0,0,low,1
4,5,0.37,0.52,2,159,3,0,0,low,1

### Exploratory Data Analysis (EDA) Start

In [5]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   empid                  14999 non-null  int64
 1   satisfaction_level     14997 non-null  float64
 2   last_evaluation        14999 non-null  float64
 3   number_project         14999 non-null  int64
 4   average_montly_hours   14999 non-null  int64
 5   time_spend_company     14999 non-null  int64
 6   Work_accident          14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   salary                 14999 non-null  object
 9   left                   14999 non-null  int64
dtypes: float64(2), int64(7), object(1)
memory usage: 1.1+ MB

## Dealing with missing values